<ul class="list-group">
    {{#each article}}
        <li class="list-group-item">
            <h4 class="list-group-item-heading">{{this.title}}</h4>
            <a target="_blank" href="{{this.link}}" class="list-group-item-text">{{this.link}}</a>

            <div class="form-group">
                    <a href="/delete/{{this._id}}" class="btn btn-danger">Delete</a>

                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#noteModal{{this._id}}">Notes</button>

            </div>
        </li>

        {{> modalNote }}
    {{/each}}
</ul>