<ul class="list-group">
    {{#each article}}
        <li class="list-group-item">
            <h4 class="list-group-item-heading">{{this.title}}</h4>
            <a target="_blank" href="{{this.link}}" class="list-group-item-text">{{this.link}}</a>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <a href="/delete/{{this._id}}" class="btn btn-danger">Delete</a>
                        <a href="/note/{{this._id}}" class="btn btn-primary">Add Note</a>
                    </div>
                </div>
        </li>
    {{/each}}
</ul>